%h1 WM - Spielplan
%p== der deutschen Mannschaft als Download

%h2 Available as:
%p
  %a{href: "/calendar.ics"}
    ICAL
  \- 
  %a{href: "/calendar.rss"}
    RSS
  \-
  %a{href: "/calendar.html"}
    HTML