%h1 WM - Spielplan
%p== der deutschen Mannschaft als Download
%h5
  letzte Aktualisierung am
  = Game.maximum(:updated_at).localtime.strftime("%Y-%m-%d %H:%M")
%h2 Available as:
%p
  %a{href: "/calendar.ics"}
    ICAL
  \- 
  %a{href: "/calendar.rss"}
    RSS
  \-
  %a{href: "/calendar.html"}
    HTML