!!!
%html
  %head
    %title WM 2014 Spielplan der deutschen Mannschaft
    %link{:rel => :stylesheet, :type => :"text/css", :href => "http://bootswatch.com/cosmo/bootstrap.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "http://bootswatch.com/cosmo/bootstrap.min.css"}
  %body
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} WM Spielplan
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{href: "#"} DOCS
          %li
            %a{href: "#"} ABOUT
    .container
      .jumbotron
        = yield